{%- if cookiecutter.project_type in ["fastapi_db", "cli_db"] %}
DATABASE_URL=postgresql+psycopg://{{ cookiecutter.project_name.lower() }}:{{ cookiecutter.project_name.lower() }}@localhost:5432/{{ cookiecutter.project_name }}
MIGRATION_ON_STARTUP=False
{%- else %}
PROJECT_NAME={{ cookiecutter.project_name }}
{%- endif %}
