{%- if cookiecutter.project_type in ["fastapi_db", "cli_db"] %}
DATABASE_URL=postgresql+psycopg://{{ cookiecutter.project_name.lower() }}_user:{{ cookiecutter.project_name.lower() }}_password@localhost:5432/{{ cookiecutter.project_name.lower() }}_db
MIGRATION_ON_STARTUP=False
{%- else %}
PROJECT_NAME={{ cookiecutter.project_name }}
{%- endif %}
LOG_LEVEL=INFO
ROOT_PATH=
{%- if cookiecutter.use_otel_observability == "yes" %}

# Observability
OBSERVABILITY_LOGS_IN_JSON=True
OBSERVABILITY_TRACING_ENABLED=True
OBSERVABILITY_METRICS_ENABLED=True
OBSERVABILITY_OTLP_GRPC_ENDPOINT=grpc://localhost:4317
OBSERVABILITY_TRACING_SAMPLE_RATE_PERCENT=100
{%- endif %}
