[project]
name = "{{ cookiecutter.project_name.lower() }}"
version = "0.1.0"
description = "{{ cookiecutter.project_description }}"
authors = [
    { name = "{{ cookiecutter.author_name }}", email = "{{ cookiecutter.author_email }}" },
]
readme = "README.md"
requires-python = ">={{ cookiecutter.python_version }}"

dependencies = [
{%- if cookiecutter.project_type == "fastapi_db" %}
    "alembic>=1.17.1",
    "fastapi>=0.121.1",
    "psycopg[binary]>=3.2.12",
    "pydantic-settings>=2.12.0",
    "pydantic[email]>=2.12.4",
    "sqlalchemy>=2.0.44",
    "uvicorn[standard]>=0.38.0",
{%- elif cookiecutter.project_type == "fastapi_slim" %}
    "fastapi>=0.121.1",
    "pydantic-settings>=2.12.0",
    "pydantic[email]>=2.12.4",
    "uvicorn[standard]>=0.38.0",
{%- elif cookiecutter.project_type == "cli_db" %}
    "alembic>=1.17.1",
    "psycopg[binary]>=3.2.12",
    "pydantic-settings>=2.12.0",
    "pydantic[email]>=2.12.4",
    "sqlalchemy>=2.0.44",
{%- else %}
    "pydantic-settings>=2.12.0",
    "pydantic[email]>=2.12.4",
{%- endif %}
]

[dependency-groups]
dev = [
    "ruff>=0.14.4",
    "pre-commit>=4.4.0",
{%- if cookiecutter.project_type in ["fastapi_db", "fastapi_slim"] %}
    "httpx>=0.28.1",
{%- endif %}
    "polyfactory>=2.22.4",
    "pytest>=9.0.1",
    "pytest-asyncio>=1.3.0",
    "pytest-cov>=7.0.0",
{%- if cookiecutter.project_type in ["fastapi_db", "cli_db"] %}
    "testcontainers[postgres]>=4.13.2",
{%- endif %}
]


[tool.pytest.ini_options]
asyncio_mode = "auto"
asyncio_default_fixture_loop_scope = "session"
#filterwarnings = [
#    "ignore::DeprecationWarning:passlib",
#    "ignore::DeprecationWarning:jose"
#]

[tool.ruff]
line-length = 120
target-version = "py{{ cookiecutter.python_version.replace('.', '') }}"
exclude = [
    ".venv",
    #    Include ignore folders if needed
]

[tool.ruff.format]
quote-style = "single"
indent-style = "space"
docstring-code-format = true

[tool.ruff.lint]
select = [
    "E", # Errors
    "F", # Pyflakes
    "I", # isort
    "T20", # flake8-print
]
pydocstyle.convention = 'google'

[tool.ruff.lint.isort]
known-local-folder = ["tests", "app", "scripts"]
split-on-trailing-comma = true
combine-as-imports = true
case-sensitive = false
detect-same-package = true
order-by-type = false  # Sorting of all imported objects (functions, classes, etc.) regardless of their type
force-sort-within-sections = true  # Don't sort straight-style imports before from-style imports.
